body{
    text-align: center;
    color: white;
    background-color: black;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

}


.title{

    color: orange;
    
}

#aryan{
    color: green;

    


}

.info{

    height: 200px ;
    background-color: white;
    color: orange;

}

.demo{
    height: 200px;
}